body {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "STHeiti", "黑体", "Microsoft YaHei", serif;
  text-align: justify;
  line-height:1.7;
}
form p {
  margin: 0.5em 0;
}
.center-align {
  text-align: center;
}
.hint {
  font-size: 0.8em;
  color: #999;
}
.messages li {
  margin: 0.5em auto;
  padding: 0.5em 1em;
  font-size: 1.1em;
  font-weight: bold;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.messages .success {
  background:#E6EFC2;
  color:#264409;
  border-color:#C6D880;
}
.messages .error {
  background:#FBE3E4;
  color:#8a1f11;
  border-color:#FBC2C4;
}
.messages .info {
  background:#FFF6BF;
  color:#514721;
  border-color:#FFD324;
}
.messages .success {
  background:#E6EFC2;
  color:#264409;
  border-color:#C6D880;
}
.messages .error a {
  color:#8a1f11;
}
.messages .info a {
  color:#514721;
}
.messages .success a {
  color:#264409;
}
/* may be commons */
.wide p {
  margin: 0.75em 0;
}

.narrow label {
  display: inline-block;
  text-align: right;
  width: 4em;
}

.wide label {
  display: inline-block;
  text-align: left;
  width: 8em;
}

.narrow input[type='submit'] {
  margin-left: 4em;
}

.wide input[type='submit'] {
  margin-left: 8em;
}

form .hint {
  display: block;
  margin-left: 5.2em;
}

.narrow a,
.wide a {
  text-decoration: underline;
}

.narrow .errorlist,
.wide .errorlist {
  color: #CC0000;
  margin-left: 4.1em;
  list-style: disc;
}

/* login styles */
#login,
#signup,
#change-password,
#verification-sent {
  background: url(../images/logo_300.png) transparent left top no-repeat;
  margin: 10em auto;
  padding-left: 310px;
  width: 25em;
}

#login form {
/*  border-left: #aaa 1px solid;*/
}

#signup-guide {
  font-size: 1.1em;
  margin-top: 2em;
  margin-left: -310px;
}

#signup-guide ul {
  margin-left: 2em;
  margin-top: 1em;
}

#signup-guide li {
  list-style: disc;
}

#verification-sent {
  min-height: 8em;
}

.gutter {
  padding: 12px 0;
}

#logo {
  margin: 0;
}

#toolbar li {
  display: inline;
}

.navigator-wrap {
  background-color: #bbb;
  background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#ccc));
  background: -moz-gradient(linear, left top, left bottom, from(#999), to(#ccc));
  border-top:1px solid #bfbfbf;
  border-bottom:1px solid #aaa;
  padding: 0.25em 0;
}

.main-navigator {
  margin: 0;
}

.main-navigator li {
  display: block;
  float: left;
  padding: 0.5em 1em;
  margin: 0 3em 0 0;
  font-weight: bold;
  color: white;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
}

.main-navigator li.active {
  background: #888;
}

.main-navigator a:link,
.main-navigator a:visited {
  color: white;
}

.whats-open-party {
  padding: 12px 0 0 0;
/*  border-bottom: 3px dashed #f4f4f4;*/
}
.whats-open-party h2,
.whats-open-party p {
  display: inline;
  font-family: "STKaiti", "楷体", "Kai", "Kaiti";
  font-size: 18px;
  padding: 0.25em 0;
  font-weight: normal;
  color: #666;
}
.whats-open-party p {
  margin: 0;
}
.whats-open-party strong {
  font-weight: normal;
  color: black;
}
#content h2 {
  margin: 12px 0 0 0 ;
  font-size: 14px;
  font-weight: bold;
  color: #15355F;
  border-bottom: 2px solid #f5f5f5;
}
.event-poster {
  margin: 6px 0;
  width: 460px;
  height: 320px;
  -webkit-box-shadow: 6px 6px 6px #ccccc5;
  -moz-box-shadow: 6px 6px 6px #ccccc5;
}
.event-poster img {
  display: none;
}
.shadow {
  -webkit-box-shadow: 6px 6px 6px #ccccc5;
  -moz-box-shadow: 6px 6px 6px #ccccc5;
}
dl.flat {
  display: inline;
  margin: 12px 0;
}
.flat dt,
.flat dd {
  display: inline;
}
.flat dd {
  padding-right: 12px;
}
dl.pair {
  margin: 12px 0;
}
.pair dt,
.pair dd {
  float: left;
}
.pair dt {
  clear: left;
}
.pair dd {
  padding-right: 12px;
}
.join-us ul {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: bold;
  text-shadow:0 -1px rgba(0, 0, 0, 0.1);
  color: rgb(66, 147, 195);
}
.join-us a:link,
.join-us a:visited {
  color: rgb(66, 147, 195);
  text-decoration: underline;
}
.join-us .hot a:link,
.join-us .hot a:visited {
  background-color: #EFEFEF;
  padding: 0.25em 0.75em;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 6px 6px 4px #ccccc5;
  -moz-box-shadow: 6px 6px 4px #ccccc5;
}
.join-us .hot a:hover,
.join-us .hot a:active {
  background-color: #fffca6;
  -webkit-box-shadow: 2px 2px 4px #ccccc5;
  -moz-box-shadow: 2px 2px 4px #ccccc5;
}
.join-us .inactive a:link,
.join-us .inactive a:visited {
  text-decoration: none;
  color: #aaa;
}
.join-us strong {
  color: red;
}
.join-us .hot {
  font-size: 28px;
  margin: 0.5em 0 0.5em -5px;
}
.top-sponsors {
  text-align: left;
}
  .top-sponsors li {
    display: inline;
    padding: 0.25em 0.5em 0.25em 0;
    font-size: 22px;
    font-weight: bold;
    letter-spacing:-0.02em;
    text-shadow:0 -1px rgba(0, 0, 0, 0.3);
  }
  .top-sponsors a:link,
  .top-sponsors a:visited {
    color: black;
  }
#footer {
  margin-top: 3em;
  font-size: 11px;
}
  #footer p {
    text-align: center;
  }
  #footer a:link,
  #footer a:visited {
    text-decoration: underline;
    color: black;
  }
  #footer .links {
    text-align: center;
  }
    #footer .links li {
      display: inline;
      padding: 0 1em;
    }
#debug {
  font-family: Monaco, Consolas;
  font-size: 10px;
}
  #debug td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
/*.entries*/
  .entries a:link,
  .entries a:visited {
    color: #15355F;
  }
  .entries h4 {
    color: #15355F;
    font-size: 13px;
    font-weight: bold;
    margin: 12px 0px 0px;
  }
  .entries p {
    text-align: justify;
    line-height: 2;
    margin: 0;
    color: #333;
  }
  .entries a:link.more,
  .entries a:visited.more {
    color: #999;
    text-decoration: underline;
  }