<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OpenParty {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/openparty.css?201807242117" />
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div id="header">
                {% if messages %}
                <ul class="messages" class="row">
                {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                {% endfor %}
                </ul>
                <div class="clear"></div>
                {% endif %}
            </div>

            {% block content %}{% endblock %}

            <div class="clear"></div>

            <div id="footer" class="row">
                <div class="span12">
                    <p>
                        &copy; 2018 www.beijing-open-party.com
                        <br/>
                        Powered by <a href="https://www.djangoproject.com" target="_blank">Django</a>
                        + <a href="https://github.com/openparty/openparty" target="_blank">OpenParty app</a>
                    </p>
                    <ul class="links">
                        <li>
                            <a href="mailto:dev@beijing-open-party.com">Contact</a>
                        </li>
                        <li>
                            <a href="/feed">RSS Feed</a>
                        </li>
                        <li>
                            <a href="https://jigsaw.w3.org/css-validator/check/referer">CSS Validator</a>
                        </li>
                        <li>
                            <a href="https://validator.w3.org/check?uri=referer">XHTML Validator</a>
                        </li>
                    </ul>
                </div>
            </div>

            {% if debug %}{% include "debug.html" %}{% else %}{% include "analytics.html" %}{% endif %}
            {% block extra_body %}{% endblock %}
        </div><!-- end of container -->
    </body>
</html>
