{% extends "member/base.html" %}

{% block content %}
  <div id="change-password" class="narrow">
    <form action="/change_password" method="post">
      <h2 class="hint">您正在修改密码</h2>
      <p>
        {{ form.oldpassword.errors }}
        <label>{{ form.oldpassword.label }}</label>
        {{ form.oldpassword }}
      </p>
      <p>
        {{ form.password1.errors }}
        <label>{{ form.password1.label }}</label>
        {{ form.password1 }}
      </p>
      <p>
        {{ form.password2.errors }}
        <label>{{ form.password2.label }}</label>
        {{ form.password2 }}
      </p>
      {{ form.non_field_errors }}
      <input type="submit" value="修改密码" tabindex="5"/>
    </form>
  </div>
{% endblock %}