<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8" />
  <title>{% if page_title %}{{ page_title }}{% else %}OpenParty - {% block title %}{% endblock %}{% endif %}</title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <link rel="stylesheet" type="text/css" media="screen" href="/media/css/reset.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/media/css/960.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/media/css/openparty.css" />
  {% block head %}{% endblock %}
</head>
<body>
<div id="root" class="container_12">
  {% if messages %}
  <ul class="messages" class="grid_12">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
    {% endfor %}
  </ul>
  <div class="clear"></div>
  {% endif %}