{% extends "member/base_member.html" %}

{% block content %}
  <div id="login" class="narrow">
    <form action="/login" method="post">
      <p>
        {{ form.email.errors }}
        <label>{{ form.email.label }}</label>
        {{ form.email }}
      </p>
      <p>
        {{ form.password.errors }}
        <label>{{ form.password.label }}</label>
        {{ form.password }}
      </p>
      <p>
        <label class="invisible"></label>
        {{ form.remember}} {{ form.remember.label }}？(两周)
      </p>
      <p>
        <label class="invisible"></label>
        还没有注册？<a href="/signup">现在就注册</a>
      </p>
      {{ form.non_field_errors }}
      <input type="submit" value="登陆" tabindex="4"/>
    </form>
  </div>
{% endblock %}