{% extends "member/base_member.html" %}
{% block title %} - 重置密码{% endblock %}
{% block content %}
<div id="change-password" class="narrow">
    {% if status == 'failed' %}
    修改密码Token已经过期，请重新请求
    {% else %}
    <form action="" method="post">
      {% csrf_token %}
      <h2 class="hint">您正在重新设置密码</h2>
      <p>
        {{ form.password1.errors }}
        <label>{{ form.password1.label }}</label>
        {{ form.password1 }}
      </p>
      <p>
        {{ form.password2.errors }}
        <label>{{ form.password2.label }}</label>
        {{ form.password2 }}
      </p>
      {{ form.non_field_errors }}
      <input type="submit" value="重置密码" tabindex="5"/>
    </form>
    {% endif %}
  </div>
{% endblock %}
