{% extends "base.html" %}
{% block title %} - Tweets{% endblock %}
{% block extra_head %}
<meta http-equiv="refresh" content="120">
{% endblock %}
{% block content %}
    <div id="content" class="content row">
      <div class="span10" style="margin: 10px">
        {% if twitter_enabled %}
          <h2>Send a tweet about #openparty</h2>
          <form action="{% url update_tweet %}" method="post">
            <fieldset id="" class="">
              <div class="info">
                {% csrf_token %}
                <textarea cols="40" rows="2" id="status" name="status" accesskey="u" autocomplete="off" tabindex="1"></textarea>
                <input type="submit" name="update" value="update" id="update-submit" tabindex="2">
              </div>
            </fieldset>
          </form>
        {% endif %}
        {% include 'pagination.html' %}
        <ul class="tweets">
          {% for tweet in tweets %}
            <li class="{{ tweet.race }}">
              <span class="avatar"><a target="_blank" href="{{ tweet.profile_url }}">
                {% ifequal tweet.race 'weibo' %}
                <img width="50" height="50" src="{{ tweet.profile_image }}" alt="{{ tweet.tweet_user_name }}' Profile image" />
                {% else %}
                <img width="48" height="48" src="{{ tweet.profile_image }}" alt="{{ tweet.tweet_user_name }}' Profile image" />
                {% endifequal %}
                </a></span>
              {% ifequal tweet.race 'twitter' %}
              <span class="username"><a target="_blank" href="{{ tweet.profile_url }}">{{ tweet.tweet_user_name }}</a></span>
              {% endifequal %}
              <span class="message typo">{{ tweet.text|safe }}</span>
              <form action="{% url delete_tweet %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="tweet_id" value="{{ tweet.tweet_id }}" />
                  <button class="btn btn-danger" type="submit" name="delete">删除</button>
              </form>
              <span class="tweet-client">(from {{ tweet.source }})</p>
            </li>
          {% endfor %}
        </ul>
        {% include 'pagination.html' %}
      </div>
    </div>
{% endblock %}
