language: python
env:
  - DJANGO_VERSION=1.5.5
  - DJANGO_VERSION=1.6.2
python:
  - "2.6"
  - "2.7"
install:
  - pip install -q Django==$DJANGO_VERSION --use-mirrors
  - pip install -r requirements.txt
script:
  - py.test --tb=short apps/member
  - py.test --tb=short apps/core
