DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'openparty',                      # Or path to database file if using sqlite3.
        'USER': 'openparty',                      # Not used with sqlite3.
        'PASSWORD': 'openparty',                  # Not used with sqlite3.
        'HOST': 'localhost',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    },
}

EMAIL_HOST = 'emal_host_name'
EMAIL_HOST_USER = 'name'
EMAIL_HOST_PASSWORD = 'password'

DEBUG = True

TWITTER_OPENPARTY_KEY = 'oauth_key' 
TWITTER_OPENPARTY_SECRET = 'oauth_secret'
