[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "*"
django-xmlrpc = "*"
docutils = "*"
flup = "*"
lxml = "*"
raven = "*"
simplejson = "*"
tweepy = "*"
pytest-django = "*"
pytest-random = "*"
django-markup-deprecated = "*"
Django = "*"
mysqlclient = "*"
django_sendmail_backend = "*"
django-contrib-comments = "*"

[dev-packages]
fabric = "*"

[requires]
python_version = "3.9"
