[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "*"
django-xmlrpc = "*"
docutils = "*"
flup = "*"
lxml = "==4.9.1"
raven = "*"
simplejson = "*"
tweepy = "*"
pytest-django = "*"
pytest-random = "*"
django-markup-deprecated = "*"
Django = "==3.2.11"
mysqlclient = "*"
django_sendmail_backend = "*"
django-contrib-comments = "*"
cssselect = "*"
invoke = "*"
fabric = "*"
gunicorn = "*"

[dev-packages]
black = "*"
pre-commit = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
