<div id="share_to">
    <div class="bshare-custom">
        <span style="font-size:14px;">分享到:</span> 
        <a title="分享到豆瓣" class="bshare-douban" href="javascript:void(0);"></a>
        <a title="分享到新浪微博" class="bshare-sinaminiblog" href="javascript:void(0);"></a>
        <a title="分享到Gmail" class="bshare-gmail" href="javascript:void(0);"></a>
        <a title="分享到Facebook" class="bshare-facebook" href="javascript:void(0);"></a>
        <a title="分享到Twitter" class="bshare-twitter" href="javascript:void(0);"></a>
        <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
    </div>
    <script type="text/javascript" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
    <script type="text/javascript" src="http://static.bshare.cn/b/bshareC0.js"></script>

    <div class="share-to-google-calendar">
        <!-- Google Calendar Document & Tools -->
        <!-- http://support.google.com/calendar/bin/answer.py?hl=en&answer=2476685 -->
        <!-- http://support.google.com/calendar/bin/answer.py?hl=en&answer=1186917 -->
        <a href="http://www.google.com/calendar/event?action=TEMPLATE&text={{ this_event.name }}&dates={{ this_event.begin_time|date:"Ymd\THis\Z" }}/{{ this_event.end_time|date:"Ymd\THis\Z" }}&sprop=website:{% url login %}&location={{ this_event.address }}&output=xml" target="_blank">添到 Google 日历</a>
    </div>
</div>