{% extends "core/base_core.html" %}
{% block title %} - 关于{% endblock %}
{% block content %}
    <div id="content" class="content topic row">
      <div class="span12">


<h2>OpenParty简介</h2> 
<p>Open Party是由北京的多个技术社区共同举办的社交活动。活动本着自由、开放、分享、互动的宗旨，通过采用“非会议（Unconference）”的形式， 为参与人员创建一个表达和交流的平台。本活动的目标是为北京的IT从业人员营造一个交流、表现、学习、生活、发展、进步的空间。活动话题不仅仅局限于技术，还包括生活、旅游、艺术、创业、商务、投资、营销等各方面的话题。</p> 
<h2>OpenParty历史</h2> 
<p>详见：<a id="tcwz" title="http://www.beijing-open-party.com/index.php/category/beijingopenparty" href="../index.php/category/beijingopenparty" target="_blank">http://www.beijing-open-party.com/index.php/category/beijingopenparty</a></p> 
<h2>活动宗旨</h2> 
<p>充分发挥2.0精神：自由、民主、贡献、开放、协同</p> 
<h2>活动形式</h2> 
<p>采用unconference形式。</p> 
<p>OpenParty社区成员对于topics的热情与责任感是活动的召唤力，贯穿活动始终的是参与者与topics之间的思维互动。会议的嘉宾贵客与参与者平等相待，没有冗长的主旨发言，茶歇时间按现场情况安排，整个活动在充满自由开放的气氛中进行。</p> 
<p>讨论topics不仅由召集人按照时间顺序集中选定排列，也可以在某一时刻由参与者临时开启新topics。活动的Topic不仅限于Speaker一个分 享，还鼓大家以论坛的形式讨论，一起对开放的主题做头脑风暴。参与者对那个topics有兴趣，便可随时加入该topics的讨论；或是在各topics讨论组中间来回穿插，听取各组的讨论；或临时想到想讨论什么话题，就立刻拿起纸笔，写下想讨论的topics，自己再发起一个讨论组。每个参与者走动的双脚就好似创意的搅拌棒，不停搅动出new idea。每个讨论组可以推派人员记录,把讨论过程的重点记录下来。这些记录下来的讨论记录，并不是被尘封起来，而是找个地方陈列或张贴，让其它没有参加到讨论的人可以随时去观看，也可以随时在记录纸上加上自己的看法和意见，并最后将结果公布在网上（照片放到flickr、视频post到Youtube、 文档和相关资料、报告放到facebook的活动group的event和page上）。</p> 
<p>对于跨洋的Speaker可采用&#8221;Remote Video Topics&#8221;的方式，利用视频会议这样快捷、环保的方式，实现远程Session讨论交互。</p> 
<h2>活动频度</h2> 
<p>1次/月</p> 
<h2>活动受众群</h2> 
<p>软件开发者、项目负责人、软件用户、技术爱好者、作家、驴友、创业公司、风投公司、艺术家、摄影爱好者，以及一切愿意分享、愿意学习新知识、愿意结交新朋友的人</p> 
<h2>OpenParty组织团队</h2> 
我们都是勤劳的小蜜蜂，属于高级进化的类群，享受着社会化生活方式，通过&#8221;信息素&#8221;相互联络，吐出一块块蜂蜡堆砌自由、开放、和谐之蜂巢。</p> 


<table id="ab" class="zeroBorder" style="height: 194px;" border="0" cellspacing="0" cellpadding="3" width="648" bordercolor="#000000"> 
<tbody> 
<tr> 
<td width="180"><img style="float: left;" src="{{ STATIC_URL }}images/staff/cleverpig.jpg" alt="刘丹" /></td> 
<td style="font-weight: normal;">
刘丹，Matrix中文社区社区事务Manager，BJUG成员，2007、2008年db4o VIP，现工作于北京市政府，Beijing Open Party发起人之一。负责Open Party日常事务，负责网站内容。
</p> 
<p>ID: cleverpig</p> 
<p>他的博客地址：<a title="http://cleverpig.blogbus.com" href="http://cleverpig.blogbus.com" target="_blank">http://cleverpig.blogbus.com</a></td> 
</tr> 
</tbody> 
</table> 
<p></strong></p> 

<table id="ab" class="zeroBorder" style="height: 180px;" border="0" cellspacing="0" cellpadding="3" width="648" bordercolor="#000000"> 
<tbody> 
<tr> 
<td width="180"><img style="float: left;" src="{{ STATIC_URL }}images/staff/tin.jpg" alt="田乐" /></td> 
<td style="font-weight: normal;">
<p>ID: Tin, diamondtin <br />
姓名: 田乐</p>
<p> 做过架构师，前端工程师，Web工程师，高级咨询师，靠谱的人。对高可用的Web架构和软件/产品设计感兴趣。热爱学习与分享最佳实践。</p>
<p>活动组织/主持、站点开发运维
<p>Blog: <a title=" http://www.diamondtin.com " href=" http://www.diamondtin.com " target="_blank"> http://www.diamondtin.com </a><br />
联系方式: Gmail:iamtin Twitter:diamondtin</p>
</td> 
</tr> 
</tbody> 
</table> 
<p></strong></p> 

<table id="ab" class="zeroBorder" style="height: 180px;" border="0" cellspacing="0" cellpadding="3" width="648" bordercolor="#000000"> 
<tbody> 
<tr> 
<td width="180"><img style="float: left;" src="{{ STATIC_URL }}images/staff/icecloud.jpg" alt="李默" /></td> 
<td style="font-weight: normal;">李默，ThoughtWorks公司高级咨询师、业务分析师，敏捷过程教练，BJUG创始人。目前主要专注于互联网产品需求管理与市场营销的合作、产品交互设计、敏捷组织方法等方面的内容。</p> 
<p>联系方式：icecloud (at) gmail.com</p> 
<p>他的博客地址：<a title="http://blog.nona.name" href="http://blog.nona.name/" target="_blank">http://blog.nona.name</a></td> 
</tr> 
</tbody> 
</table> 
<p></strong></p> 

<table id="ab" class="zeroBorder" style="height: 180px;" border="0" cellspacing="0" cellpadding="3" width="648" bordercolor="#000000"> 
<tbody> 
<tr> 
<td width="180"><img style="float: left;" src="{{ STATIC_URL }}images/staff/yingluotianse.jpg" alt="璎珞天色" /></td> 
<td style="font-weight: normal;">璎珞天色，兴趣爱好： 够花的银子、漂亮的姑娘、可口的食物、待蹂躏的小动物、以及一切牛逼的可爱的耀眼的可以用来得色的事物……<br />
工作状况：转战于IT领域的PPMM，职业经历如下：isoftstone -> Yahoo! -> Alibaba -> Alimama -> Taobao -> ?
</p> 
<p>Blog: <a title="http://nidayede.cn/" href="http://nidayede.cn/" target="_blank">http://nidayede.cn/</a></td> 
</tr> 
</tbody> 
</table> 
<p></strong></p> 

<table id="ab" class="zeroBorder" style="height: 180px;" border="0" cellspacing="0" cellpadding="3" width="648" bordercolor="#000000"> 
<tbody> 
<tr> 
<td width="180"><img style="float: left;" src="{{ STATIC_URL }}images/staff/xiaodao.jpg" alt="李剑" /></td> 
<td style="font-weight: normal;">
<p>ID: xiaodao <br />姓名: 李剑</p>
<p>李剑，InfoQ中文站敏捷社区首席编辑，Agile Evangelist。他热衷于设计模式，敏捷软件开发的研究与实践。ThoughtWorks公司咨询师 </p>
<p>Blog: <a title="http://dear.blogbus.com/" href="http://dear.blogbus.com/" target="_blank">http://dear.blogbus.com/</a><br /></p>
</td> 
</tr> 
</tbody> 
</table> 
<p></strong></p> 





<table id="l1jv" class="zeroBorder" style="height: 194px;" border="0" cellspacing="0" cellpadding="3" width="648" bordercolor="#000000"> 
<tbody> 
<tr> 
<td width="180"> 
<div style="text-align: left;"><img style="float: left;" src="{{ STATIC_URL }}images/staff/qiananchuan.jpg" alt="钱安川" /></div> 
</td> 
<td> 
钱安川，ThoughtWorks公司－软件咨询师、敏捷过程教练、开发者。敏捷项目管理工具Mingle的团队成员之一。关注中国的传统文化。</p> 
<p>他的博客地址：<a id="pn4p" title="http://qac.blogbus.com/" href="http://qac.blogbus.com/" target="_blank">http://qac.blogbus.com/</a></td> 
</tr> 
</tbody> 
</table> 




<table style="height: 180px;" border="0" cellspacing="0" cellpadding="3" width="648"> 
<tbody> 
<tr> 
<td width="180"><img style="float: left;" src="{{ STATIC_URL }}images/staff/zhmocean.jpg" alt="zhmocean" /></td> 
<td>
<p>ID：糖醋鼻子 <br /> 姓名：张核铭</p>
<p>
非资深程序员，独立软件开发咨询师。携Java/Delphi/.Net/Python多种工具语言战斗在软件开发、架构规划、多语言平台集成和软件过程自动化管理等领域，热衷于软件开发过程改进的研究和实践。摄影、天文、单车、中医业余爱好者。
</p>
<p>负责事宜：活动摄影、跑堂
<p>Blog: <a title="http://zhmocean.javaeye.com/" href="http://zhmocean.javaeye.com/" target="_blank">http://zhmocean.javaeye.com/</a><br />
联系方式：zhmocean@鸡毛</p>
</td> 
</tr> 
</tbody> 
</table> 


<table style="height: 180px;" border="0" cellspacing="0" cellpadding="3" width="648"> 
<tbody> 
<tr> 
<td width="180"><img style="float: left;" src="{{ STATIC_URL }}images/staff/cnborn.jpg" alt="CNBorn" /></td> 
<td>
<p>ID: CNBorn
<br />姓名：邢 犇</p>
<p>
Python/Django开发者，热衷开源软件。现就职于新浪网平台部任开发工程师。业余爱好电影、古典音乐及旅游。
</p>
<p>网站系统开发、活动话题记录分享、活动现场组织
<p>Blog: <a title="http://cnborn.net " href="http://cnborn.net " target="_blank">http://cnborn.net </a><br />
联系方式: Gmail:CNBorn Twitter:CNBorn
</p>
</td> 
</tr> 
</tbody> 
</table> 



<table style="height: 180px;" border="0" cellspacing="0" cellpadding="3" width="648"> 
<tbody> 
<tr> 
<td width="180"><img style="float: left;" src="{{ STATIC_URL }}images/staff/makestory.jpg" alt="makestory" /></td> 
<td>
<p>ID: makestory
<br />姓名： 李博涵
</p>
<p>
喜欢Web，不太懂到底什么是2.0。带我入门是python，工作却在用Rails来开发。爱好挺多的，只是最近没时间再去“爱”它们。
自从第一次参与openparty，一直保持持续围观的纪录。是多背一公斤的网站开发人员。
</p>
<p>在openparty做一些简单的志愿开发 :)
<p>推特 @makestory
<br />
邮箱 makestory@1kg.org</p>
</td> 
</tr> 
</tbody> 
</table> 


<table style="height: 180px;" border="0" cellspacing="0" cellpadding="3" width="648"> 
<tbody> 
<tr> 
<td width="180"><img style="float: left;" src="{{ STATIC_URL }}images/staff/qingmei.png" alt="轻眉" /></td> 
<td>
<p>ID：轻眉 </p>
<p>
曾经激情过，曾经的兴奋点很低，开心点很低，现在这些渐渐远去，留下的openparty，继续唤起一丝热情，以此唤醒刺激其他的兴奋点。
工作十余年载，一晃即过，留下的是一条苍白的工作轨迹。
看似平淡孤独的生活状态，实则是在静静的等待一种改变。
一切改变来自种种机缘，期待在openparty中。
</p>
<p>爱好: 跳舞，主持，聊天。性格：无知者无畏
<p>联系方式：hzhzyuxiao@hotmail.com </p>
</td> 
</tr> 
</tbody> 
</table> 

<table style="height: 180px;" border="0" cellspacing="0" cellpadding="3" width="648"> 
<tbody> 
<tr> 
<td width="180"><img style="float: left;" src="{{ STATIC_URL }}images/staff/lin.png" alt="丛林" /></td> 
<td>
<p>ID: Lin_Cong
<br />姓名 丛林
</p>
<p>
蜗居于北京的自由职业者。专注于web2.0，Python，Django，Google App Engine 等领域的Geek一枚。 目前在与一群西班牙朋友合作创建 www.recetasyvinos.com 一个关于美酒和美食的网站：）
</p>
<p>业余时间帮忙参与OpenParty的网站开发。<p>我的博客：<a title="http://ihere.appspot.com" href="http://ihere.appspot.com" target="_blank">http://ihere.appspot.com</a> twitter Lin_Cong
 </p>
</td> 
</tr> 
</tbody> 
</table> 

<table style="height: 180px;" border="0" cellspacing="0" cellpadding="3" width="648"> 
<tbody> 
<tr> 
<td width="180"><img style="float: left;" src="{{ STATIC_URL }}images/staff/linsheng.jpg" alt="林胜" /></td> 
<td>
<p>林胜，
</p>
<p>
自由职业程序员，主要从事web开发。坚定的Mac粉丝。 现居青岛。喜欢看电影，玩游戏。
</p>
<p>个人主页: <a title="http://linsheng.me" href="http://linsheng.me" target="_blank">http://linsheng.me</a>
twitter: @fool2nd
</p>
</td> 
</tr> 
</tbody> 
</table> 



      </div>
    </div>
{% endblock %}
