{% extends "core/base_core.html" %}
{% block title %} - "{{event.name}}"现场活动签到{% endblock %}
{% block extra_head %}
<style type="text/css" media="screen">
  #toolbar,
  .navigator-wrap {
    display: none;
  }
</style>
{% endblock %}

{% block content %}
<div id="content" class="content">
  <div class="row">
    {% if event %}
    <div class="span5">
      <h2>{{event.name}}</h2>
      <h2>您已成功签到</h2>
      <dl class="pair">
        <dt>时间：</dt><dd>{{event.begin_time|date:'Y年m月d日'}}</dd>
        <dt>洗手间位于：</dt><dd>出门直走左转</dd>
        <dt>Wifi：</dt><dd>密码见近门处墙上，名称Starbucks</dd>
        <dt>尊重赞助商：</dt><dd>请勿动办公财物、请勿拍摄白板</dd>
        <dt>支持环保：</dt><dd>喝完或带走您取用的瓶装水</dd>
        <dt>注意安全：</dt><dd>请保管好自己的财物</dd>
        <div class="clear"></div>
      </dl>
    </div>
    {% endif %}
  </div>
</div>
<script type="text/javascript">  
  $(function(){
    $('#id_email').focus().val('');
    $('#id_email').click(function(){
      email = $(this);
      email.select();
    });
  });
</script>
{% endblock %}
