<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta name="author" content="Luka Cvrk (www.solucija.com)" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" href="/media/css/style.css" type="text/css" />
	<title>Beijing OpenParty</title>
</head>
<body>
	<div class="content">
		<div class="header_right">
			<div class="top_info">
				<div class="top_info_right">
					<p><b>您还没有登陆</b>，请<a href="#">登陆</a> 或 <a href="#">注册</a></p>					
				</div>		
			</div>
					
			<div class="bar">
				<ul>
					<li class="slogan">这部分只是示意:</li>
					<li><a href="#" accesskey="a">Artists</a></li>
					<li class="active">Music</li>
					<li><a href="#" accesskey="p">Pictures</a></li>
				
				</ul>
			</div>
		</div>
			
		<div class="logo">
			<h1><a href="#"><span class="red">Beijing OpenParty</span></a></h1>
			<p>something as our slogan</p>
		</div>
		
		<div class="search_field">
			<p>这部分只是示意&nbsp;&nbsp; </p>
		</div>
		
		<div class="newsletter">
			<p>订阅活动通知</p>
		</div>
		
		<div class="subheader">
			<p>Open Party是由北京的多个技术社区共同举办的社交活动。本着自由、开放、分享、互动的宗旨，通过采用“非会议（Unconference）”的形式， 为参与人员创建一个表达和交流的平台。本活动的目标是营造一个交流、表现、学习、生活、发展、进步的空间。活动话题不仅仅局限于技 术，还包括生活、旅游、艺术、创业、商务、投资、营销等各方面的话题。</p>
		</div>
		
        <div class="left">
            <h1>活动列表：</h1>
            {% for event in event_list %}
            {% ifequal event.is_upcoming 1%}
                <div class="lt"></div>
                <div class="lbox">
                    <h2>即将开始：<span class="yellow">{{ event.name }}</span></h2>
                    <p> {{ event.description }} <a href="/event/{{ event.id }}">查看更多</a></p>
            </div>
            {% else %}
                <div class="left_articles">
                    <h2><a href="#">{{ event.name }}</a></h2>
                    <p>{{ event.description }} <a href="/event/{{ event.id }}">查看更多</a></p>
                </div>
            {% endifequal %}

            {% endfor %}
								
		</div>	
		<div class="right">
            <h1>热门话题：</h1>
            {% for topic in topic_list %}			
			<div class="rt"></div>
			<div class="right_articles">
                <p><b>{{ topic.name }}</b><br />{{ topic.description }} <a href="#">查看更多</a>.</p>
            </div>
            {% endfor %}
		</div>
  <div class="footer"> 
    <p><a href="#">RSS Feed</a> | <a href="#">Contact</a> | <a href="#">Accessibility</a> 
      | <a href="#">Products</a> | <a href="#">Disclaimer</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> 
      and <a href="http://validator.w3.org/check?uri=referer">XHTML</a><br />
      &copy; Copyright 2006 Internet Music, Design: Luka Cvrk - <a href="http://www.solucija.com/" title="What's your solution?">Solucija</a><br />
      
<!--This theme is free for distriubtion,  so long as  link to openwebdesing.org and www.best10webhosting.net  stay on the theme-->
Courtesy of <a href="http://www.openwebdesign.org" target="_blank">Open Web Design</a> &amp; <a href="http://www.dubaiapartments.biz/hotels/" target="_blank">Hotels - Dubai</a> </p>
		</div>
	</div>
</body>
</html>
