<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta name="author" content="Luka Cvrk (www.solucija.com)" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" href="/media/css/style.css" type="text/css" />
	<title>Beijing OpenParty</title>
</head>

<body>
    <div class="content">

		<div class="header_right">
			<div class="top_info">
				<div class="top_info_right">
                {% if request.user.is_authenticated %}
                    <p>欢迎，<b>{{request.user.username}}</b> - <a href="#">登出</a></p>
                {% else %}
					<p><b>您还没有登陆</b>，请<a href="#">登陆</a> 或 <a href="#">注册</a></p>
                {% endif %}
				</div>		
			</div>
					
			<div class="bar">
				<ul>
					<li class="slogan"></li>
					<li><a href="/">首页</a></li>
					<li><a href="/events">活动列表</a></li>
					<li><a href="/topics">话题列表</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/about">关于</a></li>
					<li class="active">Music</li>
				
				</ul>
			</div>
		</div>
			
		<div class="logo">
			<h1><a href="/"><span class="red">Beijing OpenParty</span></a></h1>
			<p>something as our slogan</p>
		</div>
		
		<div class="search_field">
			<p>这部分只是示意&nbsp;&nbsp; </p>
		</div>
		
		<div class="newsletter">
			<p>订阅活动通知</p>
		</div>
		
		<div class="subheader">
			<p>OpenParty是由北京的多个技术社区共同举办的社交活动。本着自由、开放、分享、互动的宗旨，采用“非会议（Unconference）”的形式， 为参与人员创建一个表达和交流的平台。本活动的目标是营造一个交流、表现、学习、生活、发展、进步的空间。活动话题不仅仅局限于技术，还包括生活、旅游、艺术、创业、商务、投资、营销等各方面的话题。</p>
		</div>

