{% extends "core/base_core.html" %}

{% block body_signature %}index{% endblock %}

{% block content %}
<div class="article row">
  <div class="whats-open-party span11">
    <h2>OpenParty是什么？</h2>
    <p>OpenParty是由北京的多个技术社区共同举办的社交活动。本着自由、开放、分享、互动的宗旨，采用“非会议（Unconference）”的形式， 为参与人员创建一个表达和交流的平台。本活动的目标<strong>给参与者提供一个平等、自由的分享与获取知识的机会</strong>。活动话题不仅仅局限于技术，还包括生活、旅游、艺术、创业、商务、投资、营销等各方面的话题。</p>
  </div>
</div>

<div id="content" class="content">
  <div class="row">
    <div class="next-event event span6" itemscope itemtype="https://schema.org/event">
      <h2>本月活动 <span class="event-name"><a href="/event/{{next_event.id}}">{{next_event.name}}</a></span></h2>
      <dl class="meta">
        <dt>时间：</dt><dd>{{next_event.begin_time}}</dd>
      </dl>
      <dl class="meta">
        <dt>地点：</dt><dd>{{next_event.address}}</dd>
      </dl>
      <p class="poster"><img itemprop="photo" src="{{next_event.poster}}" alt="{{ next_event.name }}活动海报" /></p>
    </div>
    <div class="span6">
      <div class="join-us">
        <h2>加入活动 / Join us</h2>
        <ul class="actions">
          <li class="join-event {{ next_event.css_class }}">
            <a class="btn btn-large {{ next_event.button_class }}" href="/event/join"><i class="icon-thumbs-up icon-white"></i> 报名参加本次活动</a><sup>( 请等待下次活动开放 )</sup>
          </li>
          <li class="contribute-topic">
          </li>
        </ul>
        <h2>社交互动 / Social</h2>
        <ul>
          <li class="rss"><a href="/feed/post">社区活动信息RSS订阅</a></li>
          <li class="weibo"><a href="https://weibo.com/openparty">在微博关注我们 <strong>@openparty</strong></a> | <a href="https://weibo.com/openpartycd">成都</a> | <a href="https://weibo.com/openpartyxian">西安</a></li>
          <li class="twitter"><a href="https://twitter.com/openparty">Follow Twitter <strong>@openparty</strong></a></li>
          <li class="twitter-tag"><a href="https://s.weibo.com/weibo/%2523openparty">关注和使用Tag <strong>#openparty</strong></a></li>
          <li class="google-groups"><a href="https://groups.google.com/group/beijing-open-party">参与Google Groups讨论</a></li>
          <li class="facebook"><a href="https://www.facebook.com/group.php?gid=8159558294">Join us on Facebook</a></li>
          <li class="blog-us">写博客报道您参加Open Party的感想</li>
        </ul>
      </div>
      <div class="top-sponsors">
        <h2>赞助商</h2>
        <ul>
          <li><a href="https://www.thoughtworks.com" class="thoughtworks">ThoughtWorks</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="clear"></div>

  <div class="entries events row">
    <h2 class="span12">以往活动</h2>
    {% for event in event_list %}
        <div class="span4">
          <h4><a href="/event/{{event.id}}">{{ event.name }}</a></h4>
          <p>
            <img itemprop="photo" class="poster-preview" src="{{event.poster}}" alt="{{ event.name }}活动海报" width="100" height="135" />
            {{ event.description }}
            <a href="/event/{{ event.id }}" class="more">详情</a>
          </p>
        </div>
    {% endfor %}
  </div>

  <div class="clear"></div>

  <div class="topics-and-broadcast row">
    <div class="entries topics span7">
      <h2>精彩演讲话题</h2>
      <ul>
        {% for topic in topic_list %}
          <li>
            <h4><a href="/topic/{{topic.id}}">{{ topic.name }}</a></h4>
            <p>{{ topic.summary }} <a href="/topic/{{topic.id}}" class="more">&gt; 查看</a></p>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="entries posts span4 offset1">
      <h2>社区活动广播</h2>
      <ul class="posts">
        {% for post in post_list %}
          <li>
            <h4 class="post-title post-title_{{ post.style_seed }}">
              <span class="meta"><span class='created-at'>{{ post.created_at|date }}</span></span>
            </h4>
            <div class="description">{{ post.summary }}</div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
