{% extends "core/base.html" %}
{% block content %}
        <div class="left">
            <h1>话题详情：</h1><a href="/topics">返回话题列表</a>
            <div class="lbox">
                {% if save_success %}
                    感谢您的话题提交，系统会根据接下来活动场次的情况以及用户的投票来安排您的话题，期待您精彩的演讲
                {% endif %}
                <form action="{% url submit_new_topic %}" method="POST">
                <table>
                    <tr>
                        <td>{{form.name.label}}:{{form.name}}</td>
                    </tr>
                    <tr><td>{{form.description.label}}</td></tr>
                        <tr><td>{{form.description}}</td></tr>
                    <tr><td>{{form.content.label}}</td></tr>
                    <tr>
                        <td>reStructuredText</td>
                    </tr>
                        <tr><td>{{form.content}}</td></tr>
                </table>
                <input type="submit" value="提交">
                </form>
            </div>
       </div>	
{% endblock %}
