{% extends "core/base.html" %}
{% block content %}
        <div class="left">
            <h1>话题详情：</h1><a href="/topics">返回话题列表</a>
            <div class="lbox">
                {% if save_success %}
                    感谢您的话题提交，系统会根据接下来活动场次的情况以及用户的投票来安排您的话题，期待您精彩的演讲
                    {% else %}
                请首先了解OpenParty对于话题的一些要求、时间、等等    
                <form action="{% url submit_new_topic %}" method="POST">
                <table>
                    <tr>
                        <td>{{form.name.label}}:{{form.name}}</td>
                    </tr>
                    <tr><td>{{form.description.label}}</td></tr>
                        <tr><td>{{form.description}}</td></tr>
                    <tr><td>{{form.content.label}}</td></tr>
                    <tr>
                        <td>请使用<a href="http://en.wikipedia.org/wiki/ReStructuredText" target="_blank">reStructuredText</a>进行编辑</td>
                    </tr>
                        <tr><td>{{form.content}}</td></tr>
                    <tr><td>申请在以下活动进行话题宣讲:(需管理员审核)</td></tr>
                        <tr><td>{{form.in_event}}</td></tr>
                </table>
                <input type="submit" value="提交">
                </form>
                {% endif %}
            </div>
       </div>	
{% endblock %}
