{% extends "core/base.html" %}
{% block content %}
        <div class="left">
        <h1>活动列表：</h1>
        {% for topic in topic_list %}
        {% ifequal topic.shown_in_event.is_upcoming 1%}
            <div class="lt"></div>
            <div class="lbox">
                <h2>即将开始：<span class="yellow">{{ topic.name }}</span></h2>
                <p> 得票数：{{ topic.total_votes }} 所属活动：<a href="/event/{{topic.shown_in_event.id}}">{{topic.shown_in_event.name}}</a> 日期：{{topic.shown_in_event.datetime_begin|date}}</p>
                <p> {{ topic.description }}</p>
                <p> <a href="/event/{{ topic.id }}">查看更多</a></p>
            </div>
        {% else %}
            <div class="left_articles">
                <h2><a href="#">{{ topic.name }}</a></h2>
                <p>{{ topic.description }}</p>
                   <p> <a href="/event/{{ topic.id }}">查看更多</a></p>

            </div>
        {% endifequal %}

        {% endfor %}
                            
		</div>	
{% endblock %}
