{% extends "core/base_core.html" %}

{% block content %}
    {% load markup %}
    <div id="content" class="topic">
      <div class="container_16">
        <p class="bread-crumb"><a href="/topics">返回话题列表</a></p>
        
        <dl class="poll">
          <dt>状态</dt><dd>{{ this_topic.poll_status }}</dd>
          {% if this_topic.accepted and this_topic.in_event %}
            <dt class="visiable">投票数</dt><dd class="votes">{{ this_topic.total_votes }}</dd>
          {% endif %}
          {% if this_topic.is_arranged and this_topic.accepted %}
            <dt>投票</dt>
            <dd>
              {% if not is_voted %}
                <a class="vote" href="/vote/topic/{{this_topic.id}}">我想听</a>
              {% else %}
                <span class="voted">已经投过票了</span>
              {% endif %}
            </dd>
          {% endif %}
          <a class="gary_link" href="/topic/{{this_topic.id}}/votes">看看都有谁投票了？</a>
        </dl>
        

        <h1 class="topic-name topic-name_{{this_topic.style_seed}}">{{ this_topic.name }}<span class="tail"></span></h1>
        
        {% if request.user == this_topic.author.user %}
            <p><a href="/topic/edit/{{ this_topic.id }}">编辑此话题</a></p>
        {% endif %}
        
        <p class="meta">
          <span class="topic-author">{{ this_topic.author.nickname }}</span>于“<span class="topic-created-at">{{ this_topic.created|date:'Y年m月d日' }}</span>”创建了这个话题，{% if this_topic.accepted %}计划在“<span class="topic-due-date">{{this_topic.in_event.begin_time|date:'Y年m月d日'}}</span>”的“<a href="/event/{{this_topic.in_event.id}}" class="topic-due-event">{{this_topic.in_event.name}}</a>”{% endif %}活动中演讲
        </p>
        
        <div>
          {{ this_topic.rendered_content|safe }}
        </div>

        {% if modified %}
          <p> 最近修改者：{{ this_topic.last_modified_by.nickname }} 于：{{ this_topic.last_modified|timesince }} 前</p>
        {% endif %}
      </div>
    </div>
{% endblock %}
