{% extends "core/base.html" %}
{% block content %}
    {% load markup %}
    <div id="content">
      <div class="container_16">
        <div class="left">
        <h1>话题列表：</h1>
        {% for topic in topic_list %}
        {% ifequal topic.in_event.is_upcoming 1%}
            {% ifequal topic.accepted 1%}
            <div class="lt"></div>
            <div class="lbox">
                <h2>即将开始：<span class="yellow"><a href="/topic/{{ topic.id }}">{{ topic.name }}</a></span></h2>
                <p> 得票数：{{ topic.total_votes }} 所属活动：<a href="/event/{{topic.in_event.id}}">{{topic.in_event.name}}</a> 日期：{{topic.in_event.begin_time|date}}</p>
                <p> {{ topic.description|restructuredtext }}</p>
                <p> <a href="/topic/{{ topic.id }}">查看更多</a></p>
            </div>
            {% else %}
            <div class="left_articles">
                <h2><a href="/topic/{{ topic.id }}">{{ topic.name }}</a></h2>
                <p>{{ topic.description }}</p>
                   <p> <a href="/topic/{{ topic.id }}">查看更多</a></p>
               </div>
            {% endifequal %}    
        {% endifequal %}

        {% endfor %}
                            
		</div>	

		<div class="right">
            <h1>当听众不过瘾？</h1>
            <a href="{% url submit_new_topic %}">来OpenParty分享话题</a>
        </div>

      </div>
    </div>

{% endblock %}
