{% extends "core/base_core.html" %}
{% block title %} - 话题列表{% endblock %}
{% block extra_head %}
<link rel="alternate" type="application/rss+xml" title="最新话题" href="{% url feed_topics %}" />
{% endblock %}
{% block content %}
  {% load markup %}
  <div id="content" class="content">
    <div class="container_16">
      <p class="bread-crumb">这是现在OpenParty所的有话题。当听众不过瘾？<a href="{% url submit_new_topic %}">来OpenParty分享话题吧</a></p>
      <ul class="topics">
        {% for topic in topic_list %}
          <li class="topic">
            <h2 class="topic-name topic-name_{{ topic.style_seed }}">
              <a href="/topic/{{ topic.id }}">{{ topic.name }}</a>
              {% if topic.in_event.is_upcoming %}<span class="upcoming">即将开始</span>{% endif %}
              <span class="tail"></span>
            </h2>
            <p class="meta">
              {% if topic.accepted %}
                得票数：<span class="votes">{{ topic.total_votes }}</span>
              {% else %}
                等待管理员审核中，审核完毕后即可开始投票
              {% endif %}

              {% if topic.accepted %}
               所属活动：<a href="/event/{{topic.in_event.id}}">{{topic.in_event.name}}</a> 日期：{{topic.in_event.begin_time|date}}
              {% endif %}
            </p>
            
            <div class="description">{{ topic.description|restructuredtext }}</div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
