<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OpenParty {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/openparty.css?20140314pi" />
        <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}javascripts/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}javascripts/underscore-min.js"></script>
        <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}javascripts/openparty.js"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body id="{% block body_signature %}{% endblock %}">
        <div id="header">
            {% if messages %}
            <ul class="messages" class="row">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
            {% endfor %}
            </ul>
            <div class="clear"></div>
            {% endif %}
            <div class="gutter container">
                <div class="row">
                    <h1 id="logo" class="span4"><a href="/"><img width="300" height="62" src="{{ MEDIA_URL }}images/logo_300.png" alt="Open Party" title="Open Party - IT community unconference" /></a></h1>
                    <ul id="toolbar" class="span7 offset1">
                        {% if user.is_authenticated %}
                        <li>
                            欢迎 <em>{{user.username}}</em>
                        </li>
                        <li>
                            <a title="修改密码" href="{% url 'change_password' %}">[改密码]</a>
                        </li>
                        <li>
                            <a title="登出" href="{% url 'logout' %}">[登出]</a>
                        </li>
                        {% else %}
                        <li>
                            欢迎来到Open Party，您还没有登录
                        </li>
                        <li>
                            请<a title="登录" href="{% url 'login' %}">[登录]</a>
                        </li>
                        <li>
                            ，没有帐号？现在就<a href="{% url 'signup' %}">[注册]</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="clear"></div>

            <div class="navigator-outter-wrap">
                <div class="navigator-wrap">
                    <div class="navigator container">
                        <ul class="main-navigator row">
                            <li><a {%  if tab == "index" %}class="active"{%  endif %}  href="/">首页</a></li>
                            <li><a {%  if tab == "event" %}class="active"{%  endif %}  href="{% url 'event_list' %}">活动</a></li>
                            <li><a {%  if tab == "topic" %}class="active"{%  endif %}  href="{% url 'topic_list' %}">话题</a></li>
                            <li><a {%  if tab == "post" %}class="active"{%  endif %}  href="{% url 'list_post' %}">新闻</a></li>
                            <li><a {%  if tab == "tweet" %}class="active"{%  endif %}  href="/tweets">Tweet</a></li>
                            <li><a {%  if tab == "blog" %}class="active"{%  endif %}  href="http://blog.beijing-open-party.org">Blog</a></li>
                            <li><a {%  if tab == "about" %}class="active"{%  endif %}  href="{% url 'about' %}">关于</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div><!-- end of header -->

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <div class="clear"></div>

        <div id="footer" class="container">
            <div class="row">
                <p>
                    &copy; 2010 www.beijing-open-party.org
                    <br/>
                    <a href="http://www.github.com/openparty/openparty" target="_blank">OpenParty App</a>
                    Powered by
                    <a href="http://djangoproject.com" target="_blank">Django</a>,
                    <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>,
                    <a href="http://typo.sofish.de/" target="_blank">Typo</a>
                </p>
                <ul class="links">
                    <li>
                        <a href="mailto:staff@beijing-open-party.org">联系我们 / Contact</a>
                    </li>
                    <li>
                        <a href="mailto:dev@beijing-open-party.org">报告问题 / Report bug</a>
                    </li>
                    <li>
                        <a href="/feed/post">RSS Feed</a>
                    </li>
                </ul>
            </div>
        </div>
        {% if debug %}{% include "debug.html" %}{% else %}{% include "analytics.html" %}{% endif %}
        {% block extra_body %}{% endblock %}
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
          var duoshuoQuery = {short_name:"openparty"};
	  (function() {
	    var ds = document.createElement('script');
	    ds.type = 'text/javascript';ds.async = true;
	    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
	    ds.charset = 'UTF-8';
	    (document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	  })();
	</script>
        <!-- 多说公共JS代码 end -->
    </body>
</html>
