<div class="clear"></div>
<div id="footer" class="container_12">
  <div class="grid_12">
    <p>&copy; 2010 www.beijing-open-party.org<br />
    Powered by <a href="http://djangoproject.com" target="_blank">Django</a> + <a href="http://code.google.com/p/openparty" target="_blank">OpenParty app</a>
    </p>
    <ul class="links">
      <li><a href="mailto:dev@beijing-open-party.org">Contact</a></li>
      <li><a href="/feed">RSS Feed</a></li>
      <li><a href="http://jigsaw.w3.org/css-validator/check/referer">CSS Validator</a></li>
      <li><a href="http://validator.w3.org/check?uri=referer">XHTML Validator</a></li>
    </ul>
  </div>
</div>
{% if debug %}
{% include "layout/debug.html" %}
{% endif %}
</body>
</html>